::-webkit-scrollbar{
	width: 10px;
	background:#555;
}

::-webkit-scrollbar-track{
	background:#555;
}
::-webkit-scrollbar-thumb{
	background:#888;
}
body {
  margin: 0;
  text-align: :center;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}
#particles {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background:#222;
}
#logo{
	width:30%;
	height:30%;
	position: absolute;
	vertical-align: center;
}
#btm_txt{
	position: absolute;
	bottom: 5%;
	left:45.5%;
	right:45.5%;
	color:#c8c9b9;
	font:normal 1.18em Indie Flower;
}
#btm_img{
	bottom:10%;
	position: absolute;
	left:48%;
	right:48%;
	width:2%;
	height:3%;
}
#btm_img img{
	width:100%;
	height:100%;
	filter: invert(1);
}
#btm_img:hover{
	animation-name:btm;
	animation-duration: 0.75s;
}
@-webkit-keyframes btm {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

#about{
	width:100%;
	height:100%;
	top:100%;
	position: absolute;
}
#nav{
	position: fixed;
	width: 100%;
	height:8%;
	background:#232323;
	opacity: 0.9;
	z-index: 10;	
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.6);
	display: none;
}
#nv_title{
	float:left;
	width: 20%;
	height:100%;
	color: #fff;
	font:normal 1em Raleway;
}
#nv_nav{
	width:30%;
	height:100%;
	float:right;
	margin-right:4%;
}
.nv_ele{
	width:33.3333333%;
	height:100%;
	float: left;
	display: table;
	color: #fff;
}
a{
	display: table;
	text-decoration: none;
	color:#fff;
}
.unlin{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  font: normal 0.8em Raleway;
  overflow: hidden;
}
.unlin:before{
 content: "";
  position: absolute;
  z-index: -10;
  left: 50%;
  right: 50%;
  bottom:25%;
  margin: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.unlin:hover:before, .unlin:focus:before, .unlin:active:before {
  left: 20%;
  right: 20%;
}
#abt_mn{
	width: 45%;
	height:50%;
	position: absolute;
	right:10%;
	top:27%;
}
#grid{
	position: absolute;
	width:30%;
	height:60%;
	top:25%;
	left:5%;
}
#grid img{
	width:100%;
	height:100%;
}
#abt_tit{

	font-size:2.7em;
	font-family: Raleway;
	font-weight:50;
	color:#000;
	text-align:left;
}
.abt_bd{
	position: absolute;
	margin-top:6%;
	color:#000;
	font-size:1em;
	letter-spacing: 0.3px;
	font-family: Raleway;
	font-weight:200;
	margin-left: 2%;
	line-height: 150%;
}
#project{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 100%;
	background:#333;
	background: url("img/backt.jpg");
	background-size: 100%;
}
#contrib{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 50%;

}
#pro_txt{
	position: absolute;
	width:43%;
	height:65%;
	top:20%;
	left:6%;
}
#pt_hd{
	font-size:2.7em;
	font-family: Raleway;
	font-weight:50;
	color:#fff;
	text-align:left;
}
.pt_txt{
	position: absolute;
	margin-top:6%;
	color:#fff;
	font-size:1em;
	letter-spacing: 0.3px;
	font-family: Raleway;
	font-weight:200;
	margin-left: 2%;
	line-height: 150%;
}
.pt_bt{
	position: absolute;
	bottom:4%;
	left:7%;
	color: #fff;
	font-family: Raleway;
	font-weight:300;
	font-style: italic;
	font-size:1.5em;
}
#pro_vid{
	position: absolute;
	width: 43%;
	height:72%;
	top:20%;
	right:4%;
	text-align: center;
}
#prvi_bt{
	width:70%;
	height: 22%;
	left:15%;
	position: absolute;
	bottom: 2% ;
}

.pb_ele{
	width:25%;
	height:100%;
	float: left;
}
.pb_ele img{
	width:120%;
	height:100%;
}
#dv1{
	width:40%;
	height:65%;
	position: absolute;
	left:8%;
	top:20%;
	text-align:center;
}
#line{
	position: absolute;
	width:1px;
	height:55%;
	top:23%;
	left:50%;
	background:#000;
}
#dv2{
	width:40%;
	height:65%;
	position: absolute;
	right:8%;
	top:20%;
	text-align: center;
}
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}